@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Open+Sans&display=swap');
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;

}
p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
